@import 'input';

.easy-autocomplete {
  width: 100% !important;

  input {
    @extend .input;

    border-radius: 0;
    width: 100%;
  }

  &-container {
    ul {
      background-color: #cac5bc;
      border: 1px solid #ac9f8a;
    }
    li {
      color: #000;
      line-height: 45px;
      padding-left: 18px;
      text-align: left;

      &.selected {
        background-color: #ac9f8a !important;
      }
    }
  }
}