.change-photo {
  align-items: center;
  display: flex;

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .profile__photo {
    margin-right: 24px;

    @media screen and (max-width: 767px) {
      margin-right: 12px;
    }
  }
}