@import '../global';

.checkbox {
  align-items: center;
  display: flex;
  margin-top: 36px;
  text-align: left;

  input[type='checkbox'] {
    &:checked {
      & + .checkbox__mark {
        background: #554728 url('/img/checkmark.svg') no-repeat center;
        border-color: #554728;
      }
    }
  }

  &__mark {
    background: transparent none;
    border: 1px solid #ac9f8a;
    height: 24px;
    width: 24px;
  }

  &__label {
    padding-left: 12px;

    &:hover {
      cursor: pointer;
    }
  }
}