.filepicker {
  display: none;

  &__label {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 1.2rem;
    height: 36px !important;
    justify-content: center;
    margin-right: 24px;
    margin-top: 0 !important;
    text-transform: uppercase;
    width: 164px !important;
  }

  &__delete {
    color: #554728;
    font-size: 1.2rem;
    text-decoration: underline;
  }
}