@import '../global';

.modal {
  max-width: 600px;
  padding: 0;

  &__header {
    border-bottom: 1px solid #ac9f8a;
    padding: 20px 48px;

    .modal-title {
      font-size: 30px;
    }
  }

  &__content {
    padding: 24px 48px 36px;

    p {
      color: #000;
    }

    .bold {
      font-weight: 700;
    }

    .input__group {
      &:not(:first-child) {
        margin-top: 24px;
      }
    }

    .input__label {
      text-align: left;
    }
  }

  &__footer {
    align-items: center;
    display: flex;
    padding: 0 48px;

    .btn {
      align-items: center;
      display: flex;
      font-size: 12px;
      font-size: 1.2rem;
      height: 60px;
      justify-content: center;
      text-transform: uppercase;
      width: 100%;
    }

    .active-link {
      @include transition();

      text-decoration: underline;
      width: 100%;

      &:hover {
        opacity: .7;
      }
    }
  }

  &__socials {
    border-top: 1px solid #ac9f8a;
    margin-top: 36px;
    padding: 24px 0 48px;
  }

  &__step {
    border-top: 1px solid #ac9f8a;
    padding: 36px 48px 48px;
    .btn {
      align-items: center;
      display: flex;
      font-size: 12px;
      height: 48px;
      justify-content: center;
      text-transform: uppercase;
      width: 100%;
    }
  }

  &__success {
    padding-left: 40px;
    position: relative;
    text-align: left;

    &:before {
      background: #554728 url('/img/checkmark.svg') no-repeat center;
      border-radius: 50%;
      content: '';
      height: 24px;
      left: 0;
      position: absolute;
      width: 24px;
    }
  }

  &__filepicker {
    height: 60px !important;
    width: 100% !important;
  }
}