@import '../global';

.modal {
  max-width: 600px;
  padding: 0;

  &.product__info {
    background: #cac5bc none;
    max-width: 750px;
    padding: 36px;

    @media screen and (max-width: 767px) {
      padding: 24px;
    }

    .profile-table__cell {
      line-height: 36px;
      padding: 0 24px;
      text-align: left;
      vertical-align: middle;
      &:last-child {
        text-align: right;
      }

      &:first-child {
        @media screen and (max-width: 767px) {
          min-width: 150px;
        }
      }

      &:nth-child(3) {
        @media screen and (max-width: 767px) {
          width: max-content;
        }
      }
    }

    .profile-table__row {
      &:first-child {
        background: transparent;
        height: auto;
      }

      &:nth-child(odd) {
        background-color: transparent;
      }

      &:nth-child(even) {
        background-color: #c6bcae;
      }
    }
  }

  &__header {
    border-bottom: 1px solid #ac9f8a;
    padding: 20px 48px;

    @media screen and (max-width: 767px) {
      padding: 10px 24px;
    }

    .modal-title {
      font-size: 30px;
    }
  }

  &__content {
    padding: 24px 48px 36px;

    @media screen and (max-width: 767px) {
      padding: 24px;
    }

    p {
      color: #000;
    }

    .bold {
      font-weight: 700;
    }

    .input__group {
      &:not(:first-child) {
        margin-top: 24px;
      }
    }

    .input__label {
      text-align: left;
    }
  }

  &__footer {
    align-items: center;
    display: flex;
    padding: 0 48px;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      padding: 24px 24px 0;
    }

    .btn {
      align-items: center;
      display: flex;
      font-size: 12px;
      font-size: 1.2rem;
      height: 60px;
      justify-content: center;
      text-transform: uppercase;
      width: 100%;

      &:first-child {
        @media screen and (max-width: 767px) {
          margin: 0 !important;
        }
      }

      @media screen and (max-width: 767px) {
        height: 48px;
      }
    }

    .active-link {
      @include transition();

      text-decoration: underline;
      width: 100%;

      &:hover {
        opacity: .7;
      }

      @media screen and (max-width: 767px) {
        margin-top: 24px;
      }
    }
  }

  &__socials {
    border-top: 1px solid #ac9f8a;
    margin-top: 36px;
    padding: 24px 0 48px;

    @media screen and (max-width: 767px) {
      padding: 24px 0;
    }
  }

  &__step {
    border-top: 1px solid #ac9f8a;
    padding: 36px 48px 48px;
    .btn {
      align-items: center;
      display: flex;
      font-size: 12px;
      height: 48px;
      justify-content: center;
      text-transform: uppercase;
      width: 100%;
    }

    @media screen and (max-width: 767px) {
      padding: 36px 24px;
    }
  }

  &__success {
    padding-left: 40px;
    position: relative;
    text-align: left;

    &:before {
      background: #554728 url('/img/checkmark.svg') no-repeat center;
      border-radius: 50%;
      content: '';
      height: 24px;
      left: 0;
      position: absolute;
      width: 24px;
    }
  }

  &__filepicker {
    height: 60px !important;
    width: 100% !important;

    @media screen and (max-width: 767px) {
      height: 48px !important;
      margin-top: 12px !important;
    }
  }
}