@import '../global';

.profile {
  background-color: #cfcac1;

  &__container {
    display: flex;
    height: max-content;

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__content {
    height: 100%;
    width: 100%;

    &:first-child {
      margin-right: 30px;
      max-width: 33%;

      @media screen and (max-width: 767px) {
        margin: 0;
        max-width: 100%;
      }
    }

    &:last-child {
      .section-title {
        text-align: left;
      }

      @media screen and (max-width: 767px) {
        margin-top: 24px;
      }
    }
  }

  &__btn {
    align-items: center;
    display: flex;
    font-size: 12px;
    font-size: 1.2rem;
    height: 48px;
    justify-content: center;
    margin-top: 24px;
    text-transform: uppercase;
    width: 100%;
  }

  &__checkbox {
    align-items: flex-start;

    .checkbox__mark {
      min-width: 24px;
    }
  }

  &__user {
    align-items: center;
    display: flex;
  }

  &__photo {
    background: no-repeat center top;
    background-size: cover;
    border-radius: 50%;
    height: 72px;
    min-width: 72px;
    position: relative;
    width: 72px;

    &.verified {
      &:after {
        background: #554728 url('/img/checkmark.svg') no-repeat center;
        border-radius: 50%;
        bottom: 0;
        content: '';
        height: 18px;
        position: absolute;
        right: 0;
        width: 18px;
      }
    }
  }

  &__name {
    font-weight: bold;
    margin-left: 18px;
  }

  &__table {
    background-color: #cac5bc;
    height: 100%;
    margin-top: 24px;
    width: 100%;
  }

  &__modal-footer {
    padding-bottom: 48px;
  }

  &__authorized {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .input__group {
      width: 100%;

      @media screen and (max-width: 360px) {
        max-width: 160px;
      }
    }

    .profile__photo {
      margin-left: 24px;
    }
  }

  &__block {
    @include transition();

    align-items: center;
    background-color: #292929;
    border-radius: 50%;
    color: #b5aa99;
    display: flex;
    height: 46px;
    justify-content: center;
    margin: 0 30px;
    position: relative;
    width: 46px;

    @media screen and (max-width: 767px) {
      background-color: transparent;
      display: inline-block;
      font-size: 21px;
      height: 25px;
      margin: 0 0 0 15px;
      padding: 4px;
      text-align: center;
      vertical-align: middle;
      width: 25px;
    }

    &:hover,
    &.active {
      background-color: #b4a774;
      color: #000;
    }

    &.active {
      &:after {
        border-bottom: 8px solid #cac5bc;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        content: '';
        height: 0;
        position: absolute;
        top: calc(100% + 17px);
        width: 0;

        @media screen and (max-width: 1280px) {
          display: none;
        }
      }
    }
  }
}