.registration {
  background: url(../img/slider-bg.png) repeat center center;

  &-form {
    max-width: 560px;
    background-color: #C6BCAE;
    margin: 40px auto;

    &__header {
      display: flex;
      justify-content: space-between;
      padding: 24px 48px;
      border-bottom: 1px solid #AC9F8A;
    }

    &__content {
      padding: 24px 48px 48px;

      .input__group {
        &:not(:first-child) {
          margin-top: 24px;
        }
      }

      .btn {
        margin-top: 36px;
        width: 100%;
        height: 60px;
        text-transform: uppercase;
        font-size: 12px;
        font-size: 1.2rem;
        font-family: "Open Sans", sans-serif;
      }
    }
  }

  &-steps {
    display: flex;

    &__item {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 1px solid #AC9F8A;
      margin: 0 5px;

      &.complete {
        background: #ac9f8a url("/img/checkmark.svg") no-repeat center;
      }

      &.current {
        background: #554728 url("/img/question.svg") no-repeat center;
        border-color: #554728;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}