footer
    .container
        .footer-content.clearfix
            .footer-menu.footer-content__left
                ul.footer-menu__item
                    li
                        a(href='/') Главная
                    li
                        a(href='/production/') Производство
                ul.footer-menu__item
                    li
                        a(href='/personalization/') Персонализация
                    li
                        a(href='/about/') О компании
                    li
                        a(href='/news/') Новости
                    li
                        a(href='/our_staff/') Наши сотрудники
                ul.footer-menu__item
                    li
                        a(href='/delivery/') Доставка
                    li
                        a(href='/contacts/') Контакты
                    li
                        a(href='/blog/') Это интересно
                a.footer-logo(href='#')
            .footer-content__right
                .contacts
                    span Контактные данные:
                    a(href='tel:74956403995') +7 (495) 640 39 95
                    a(href='tel:79255961320') +7 (925) 596 13 20
                    a(href='mailto:order@staraya-gramota.ru') order@staraya-gramota.ru
                    | Москва ул. Новоалексеевская, д. 16, стр. 9
                .social
                    span
                        | Следите за нами
                        br
                        | в социальных сетях:
                    .social-links
                        a.social-links__item.fb(href='https://www.facebook.com/artelstarayagramota/')
                        a.social-links__item.inst(href='https://www.instagram.com/staraya_gramota/')
                        a.social-links__item.vk(href='https://vk.com/staraya_gramota')
    // decoration-line
    span.decoration-line
    // decoration-line
    .container
        .copyright.clearfix
            span.copyright__company Артель «Старая грамота» 2016 - 2018.
            .copyright__developer
                | Разработано в студии
                a(target='_blank', href='http://points.by/') Points.by