extends root/layout

block container
    include include/header
    .section
        .container
            ul
                li
                    a(href="home.html") Главная
                li
                    a(href="reviews.html") Отзывы
                li
                    a(href="reg-step-1.html") Регистрация. Шаг 1
                li
                    a(href="reg-step-2.html") Регистрация. Шаг 2
                li
                    a(href="reg-step-3.html") Регистрация. Шаг 3
                li
                    a(href="reg-thanks.html") Спасибо за регистрацию!
                li
                    a(href="login.html") Логин
                li
                    a(href="login-review.html") Авторизация для отзыва
                li
                    a(href="restore.html") Восстановить пароль
                li
                    a(href="profile-empty.html") Профиль - пустая история


    include include/footer
