extends root/layout

block container
    include include/header
    .section.profile
        .container.profile__container
            .profile__content.aside__container

            .profile__content

    include include/footer


