extends root/layout

block container
    include include/header
    .section.review
        .container
            a.btn(href="#registration-thanks") Спасибо за регистрацию!

    include include/footer
    .remodal-wrapper(style='display: none;')
        .remodal.modal(data-remodal-id='registration-thanks', tabindex='-1')
            button.remodal-close(data-remodal-action='close')
            .modal__header
                span.modal-title Спасибо за регистрацию!

            .modal__content
                p.modal__success Ссылка для активации профиля отправлена на #[span.bold mail@gmail.com]

            .modal__footer.profile__modal-footer
                a.btn.btn_dark.modal__btn(href="#" data-remodal-action='close') Закрыть окно
