.icon_fb:before { content: '\EA01'; }
.icon_ok:before { content: '\EA02'; }
.icon_vk:before { content: '\EA03'; }
.icon_gplus:before { content: '\EA04'; }
.icon_lin:before { content: '\EA05'; }
.icon_twi:before { content: '\EA06'; }
